# Calcul du KPI des interruptions

In [134]:
import pandas as pd
import numpy as np
import os
import datetime
os.chdir("")

## Indication du fichier que l'on va utiliser

In [135]:
file_origine='BA_Nb_Depart_2019-2020.xlsx'

## Lecture du fichier et intégration dans des Dataframes

In [136]:
#Lecture du fichier origine
xl=pd.ExcelFile(file_origine)
#Mise dans un dataframe
df_origine=xl.parse("Data")
#Affichage des 10 premières lignes du dataframe
df_origine.head(10)

,Date,Jour,Type_Jour,Saison,Line A,Line B,Line C,Line D,Line E,Line H,Line P
0,2019-01-01,1900-01-03,DOMINGO,VERANO,214,210,232,242,212,284,88
1,2019-01-02,1900-01-04,HABIL,VERANO,406,444,480,480,298,370,128
2,2019-01-03,1900-01-05,HABIL,VERANO,406,444,480,480,298,370,128
3,2019-01-04,1900-01-06,HABIL,VERANO,406,444,480,480,298,370,128
4,2019-01-05,1900-01-07,SABADO,VERANO,300,300,356,300,262,352,106
5,2019-01-06,1900-01-01,DOMINGO,VERANO,214,210,232,242,212,284,88
6,2019-01-07,1900-01-02,HABIL,VERANO,406,444,480,480,298,370,128
7,2019-01-08,1900-01-03,HABIL,VERANO,406,444,480,480,298,370,128
8,2019-01-09,1900-01-04,HABIL,VERANO,406,444,480,480,298,370,128
9,2019-01-10,1900-01-05,HABIL,VERANO,406,444,480,480,298,370,128

## Affichage pour rappel du type de données

In [137]:
df_origine.dtypes

Date         datetime64[ns]
Jour         datetime64[ns]
Type_Jour            object
Saison               object
Line A                int64
Line B                int64
Line C                int64
Line D                int64
Line E                int64
Line H                int64
Line P                int64
dtype: object

## Simulation des Interruptions sur 2 ans en utilisant les lois de probabilité

In [138]:
import scipy.stats as st

#Loi de probabilité de la ligne A
df_origine.insert(5,'A_Int_B100',st.exponnorm.rvs(2271.3520030889576, -0.002586904698236756, 0.0007234200726931889, size=731))

#Loi de probabilité de la ligne B
df_origine.insert(7,'B_Int_B100',st.genexpon.rvs(2.3707480090151876, 1.822706440989477e-08, 1.601427692982724, -5.3413762848371975e-08, 3.6673022564923476, size=731))

#Loi de probabilité de la ligne C
df_origine.insert(9,'C_Int_B100',st.wald.rvs(-0.2116701131651372, 0.7304669036293392, size=731))

#Loi de probabilité de la ligne D
df_origine.insert(11,'D_Int_B100',st.exponnorm.rvs(2920.2368038086333, -0.0019276999851486065, 0.0005550819703773408, size=731))

#Loi de probabilité de la ligne E
df_origine.insert(13,'E_Int_B100',st.mielke.rvs(0.7479261485668828, 1.3493198675745806, -5.594979913033181e-32, 1.074308957921079, size=731))

#Loi de probabilité de la ligne H
df_origine.insert(15,'H_Int_B100',st.gengamma.rvs(1.274647268454995, 0.4915383911925465, -3.4867379104642266e-29, 0.643369376546743, size=731))

#Loi de probabilité de la ligne P
df_origine.insert(17,'P_Int_B100',st.expon.rvs(-9.273081078094038e-08, 18.625967893302214, size=731))

df_origine.head(10)

,Date,Jour,Type_Jour,Saison,Line A,A_Int_B100,Line B,B_Int_B100,Line C,C_Int_B100,Line D,D_Int_B100,Line E,E_Int_B100,Line H,H_Int_B100,Line P,P_Int_B100
0,2019-01-01,1900-01-03,DOMINGO,VERANO,214,3.067952,210,2.509413,232,0.737364,242,0.680282,212,0.275080,284,6.105407,88,29.524995
1,2019-01-02,1900-01-04,HABIL,VERANO,406,1.318689,444,0.850316,480,-0.118923,480,0.739916,298,0.001453,370,1.004347,128,37.825187
2,2019-01-03,1900-01-05,HABIL,VERANO,406,1.938395,444,1.382816,480,-0.080890,480,0.624949,298,0.007719,370,0.123417,128,7.149407
3,2019-01-04,1900-01-06,HABIL,VERANO,406,0.324927,444,1.951891,480,1.090912,480,0.776777,298,0.902639,370,12.586578,128,13.741944
4,2019-01-05,1900-01-07,SABADO,VERANO,300,0.625007,300,0.252697,356,0.297596,300,4.376471,262,0.055789,352,0.059772,106,13.723587
5,2019-01-06,1900-01-01,DOMINGO,VERANO,214,0.354718,210,0.356710,232,0.325727,242,0.206210,212,0.233518,284,1.091829,88,56.369659
6,2019-01-07,1900-01-02,HABIL,VERANO,406,1.586117,444,3.583335,480,0.173261,480,2.547993,298,0.296151,370,0.666671,128,40.147030
7,2019-01-08,1900-01-03,HABIL,VERANO,406,5.335139,444,1.842530,480,1.400273,480,6.392161,298,5.855078,370,4.259597,128,2.880470
8,2019-01-09,1900-01-04,HABIL,VERANO,406,1.497624,444,1.919379,480,0.896372,480,0.860172,298,0.039146,370,0.112510,128,30.928874
9,2019-01-10,1900-01-05,HABIL,VERANO,406,0.110411,444,2.931004,480,2.411225,480,1.195781,298,1.722097,370,0.105228,128,9.298709

## Calcul des interruptions pour chaque journée

In [139]:
#si le résultat obtenu pour une journée est inférieur à 1 alors on mets 0 sinon on garde a valeur
df_origine['A_Int_B100']=np.where(df_origine['A_Int_B100']<1,0,df_origine['A_Int_B100'])
df_origine['B_Int_B100']=np.where(df_origine['B_Int_B100']<0,0,df_origine['B_Int_B100'])
df_origine['C_Int_B100']=np.where(df_origine['C_Int_B100']<1,0,df_origine['C_Int_B100'])
df_origine['D_Int_B100']=np.where(df_origine['D_Int_B100']<1,0,df_origine['D_Int_B100'])
df_origine['E_Int_B100']=np.where(df_origine['E_Int_B100']<1,0,df_origine['E_Int_B100'])
df_origine['H_Int_B100']=np.where(df_origine['H_Int_B100']<1,0,df_origine['H_Int_B100'])
df_origine['P_Int_B100']=np.where(df_origine['P_Int_B100']<1,0,df_origine['P_Int_B100'])

#On multipli le résultat obtenu par le nombre de départ d'une journée
df_origine.insert(6,'A_Int',df_origine['A_Int_B100'] * df_origine['Line A'] / 100)
df_origine.insert(9,'B_Int',df_origine['B_Int_B100'] * df_origine['Line B'] / 100)
df_origine.insert(12,'C_Int',df_origine['C_Int_B100'] * df_origine['Line C'] / 100)
df_origine.insert(15,'D_Int',df_origine['D_Int_B100'] * df_origine['Line D'] / 100)
df_origine.insert(18,'E_Int',df_origine['E_Int_B100'] * df_origine['Line E'] / 100)
df_origine.insert(21,'H_Int',df_origine['H_Int_B100'] * df_origine['Line H'] / 100)
df_origine['P_Int']=df_origine['P_Int_B100'] * df_origine['Line P'] / 100

df_origine.head(10)

,Date,Jour,Type_Jour,Saison,Line A,A_Int_B100,A_Int,Line B,B_Int_B100,B_Int,...,D_Int,Line E,E_Int_B100,E_Int,Line H,H_Int_B100,H_Int,Line P,P_Int_B100,P_Int
0,2019-01-01,1900-01-03,DOMINGO,VERANO,214,3.067952,6.565418,210,2.509413,5.269767,...,0.000000,212,0.000000,0.000000,284,6.105407,17.339355,88,29.524995,25.981996
1,2019-01-02,1900-01-04,HABIL,VERANO,406,1.318689,5.353876,444,0.850316,3.775402,...,0.000000,298,0.000000,0.000000,370,1.004347,3.716084,128,37.825187,48.416239
2,2019-01-03,1900-01-05,HABIL,VERANO,406,1.938395,7.869882,444,1.382816,6.139703,...,0.000000,298,0.000000,0.000000,370,0.000000,0.000000,128,7.149407,9.151241
3,2019-01-04,1900-01-06,HABIL,VERANO,406,0.000000,0.000000,444,1.951891,8.666398,...,0.000000,298,0.000000,0.000000,370,12.586578,46.570339,128,13.741944,17.589689
4,2019-01-05,1900-01-07,SABADO,VERANO,300,0.000000,0.000000,300,0.252697,0.758090,...,13.129412,262,0.000000,0.000000,352,0.000000,0.000000,106,13.723587,14.547002
5,2019-01-06,1900-01-01,DOMINGO,VERANO,214,0.000000,0.000000,210,0.356710,0.749090,...,0.000000,212,0.000000,0.000000,284,1.091829,3.100795,88,56.369659,49.605300
6,2019-01-07,1900-01-02,HABIL,VERANO,406,1.586117,6.439635,444,3.583335,15.910008,...,12.230366,298,0.000000,0.000000,370,0.000000,0.000000,128,40.147030,51.388199
7,2019-01-08,1900-01-03,HABIL,VERANO,406,5.335139,21.660664,444,1.842530,8.180833,...,30.682374,298,5.855078,17.448133,370,4.259597,15.760508,128,2.880470,3.687002
8,2019-01-09,1900-01-04,HABIL,VERANO,406,1.497624,6.080355,444,1.919379,8.522041,...,0.000000,298,0.000000,0.000000,370,0.000000,0.000000,128,30.928874,39.588959
9,2019-01-10,1900-01-05,HABIL,VERANO,406,0.000000,0.000000,444,2.931004,13.013657,...,5.739746,298,1.722097,5.131850,370,0.000000,0.000000,128,9.298709,11.902348

## Somme des interruptions sur les deux ans (2019 - 2020)

In [140]:
#On fait la somme des minutes d'interruptions obtenus
print(df_origine['A_Int'].sum(), df_origine['B_Int'].sum(), df_origine['C_Int'].sum(), df_origine['D_Int'].sum(), df_origine['E_Int'].sum(), df_origine['H_Int'].sum(), df_origine['P_Int'].sum())

4531.74878592598 5290.138490032004 1031.3064531217794 4948.769680257065 4536.752205761842 5433.7302583405 15456.809393414245

## Présentation des résultats par mois

In [141]:
df_origine.set_index(df_origine['Date'],inplace=True)

df_month = pd.DataFrame()

df_month['Int_Line_A'] = df_origine['A_Int'].resample('M').sum()
df_month['Int_Line_B'] = df_origine['B_Int'].resample('M').sum()
df_month['Int_Line_C'] = df_origine['C_Int'].resample('M').sum()
df_month['Int_Line_D'] = df_origine['D_Int'].resample('M').sum()
df_month['Int_Line_E'] = df_origine['E_Int'].resample('M').sum()
df_month['Int_Line_H'] = df_origine['H_Int'].resample('M').sum()
df_month['Int_Line_P'] = df_origine['P_Int'].resample('M').sum()

df_month.to_csv('BA_Int_2019-2020_Month.csv', index=True, encoding='utf-8', sep=';', decimal=',')

df_month.head(24)

,Int_Line_A,Int_Line_B,Int_Line_C,Int_Line_D,Int_Line_E,Int_Line_H,Int_Line_P
Date,,,,,,,
2019-01-31,176.310593,179.344611,59.594856,186.237665,99.003768,177.509439,627.233240
2019-02-28,73.028200,172.195132,31.410819,158.052940,358.850760,209.689445,529.575579
2019-03-31,188.512870,238.285943,51.258312,245.064634,145.273214,169.159897,614.879126
2019-04-30,178.927798,173.922156,59.722865,208.469659,62.642606,350.187282,606.843403
2019-05-31,269.884591,203.160048,48.810999,159.525280,235.515530,76.478020,653.540464
2019-06-30,211.409168,188.549925,34.823475,190.365934,143.464186,224.490589,682.870578
2019-07-31,233.482880,295.951938,49.633842,251.247184,70.594949,262.780990,768.469624
2019-08-31,225.258052,241.544431,12.588349,181.399157,206.720289,204.736899,717.150140
2019-09-30,223.865775,231.420688,11.087727,298.664349,203.301698,123.375279,606.257058
2019-10-31,232.097479,298.765649,65.820329,230.950364,204.149167,289.725270,572.569573
2019-11-30,137.219582,262.754265,51.833800,107.249358,85.685506,180.848189,581.530887
2019-12-31,181.193843,211.299968,18.690729,338.166423,252.504630,109.041824,750.405495
2020-01-31,200.405773,211.971440,51.071289,226.343742,183.969733,138.134354,752.735175
2020-02-29,135.169030,125.302425,63.181982,172.190377,95.044215,94.306221,693.712967
2020-03-31,193.721369,157.039081,27.384352,160.149185,155.702164,280.636442,610.316052
2020-04-30,171.258914,233.283095,16.405639,126.645191,157.461790,148.946270,560.328392
2020-05-31,227.138956,299.466258,31.299829,173.198699,98.751535,220.576830,979.375850
2020-06-30,286.296170,204.787824,29.395532,237.460993,116.077932,554.159452,758.897352
2020-07-31,190.146439,156.547637,53.741124,242.641266,901.457736,242.251550,543.785236
2020-08-31,184.654763,269.539006,81.110240,204.161938,142.683475,268.005312,681.730736
2020-09-30,150.711955,223.605986,41.894445,128.925910,236.880511,444.611541,350.222147
2020-10-31,195.711736,226.935496,34.945536,319.027350,136.402383,175.881510,529.881568
2020-11-30,76.724826,231.293996,58.472904,285.632038,60.128942,256.490977,737.244431
2020-12-31,188.618027,253.171491,47.127480,117.000043,184.485488,231.706674,547.254320

## Présentation des résultats par années

In [142]:
df_year = pd.DataFrame()

df_year['Int_Line_A'] = df_origine['A_Int'].resample('A').sum()
df_year['Int_Line_B'] = df_origine['B_Int'].resample('A').sum()
df_year['Int_Line_C'] = df_origine['C_Int'].resample('A').sum()
df_year['Int_Line_D'] = df_origine['D_Int'].resample('A').sum()
df_year['Int_Line_E'] = df_origine['E_Int'].resample('A').sum()
df_year['Int_Line_H'] = df_origine['H_Int'].resample('A').sum()
df_year['Int_Line_P'] = df_origine['P_Int'].resample('A').sum()

df_year.to_csv('BA_Int_2019-2020_Year.csv', index=True, encoding='utf-8', sep=';', decimal=',')

df_year.head(2)

,Int_Line_A,Int_Line_B,Int_Line_C,Int_Line_D,Int_Line_E,Int_Line_H,Int_Line_P
Date,,,,,,,
2019-12-31,2331.190829,2697.194754,495.276101,2555.392948,2067.706303,2378.023124,7711.325166
2020-12-31,2200.557957,2592.943736,536.030352,2393.376732,2469.045902,3055.707134,7745.484227