# Calcul du KPI des intervalles

In [1]:
import pandas as pd
import numpy as np
import os
import datetime
os.chdir("")

## Indication du fichier que l'on va utiliser

In [2]:
file_origine='BA_Nb_Depart_2019-2020.xlsx'

## Lecture du fichier et intégration dans des Dataframes

In [3]:
#Lecture du fichier origine
xl=pd.ExcelFile(file_origine)
#Mise dans un dataframe
df_origine=xl.parse("Data")
#Affichage des 10 premières lignes du dataframe
df_origine.head(10)

,Date,Jour,Type_Jour,Saison,Line A,Line B,Line C,Line D,Line E,Line H,Line P
0,2019-01-01,1900-01-03,DOMINGO,VERANO,214,210,232,242,212,284,88
1,2019-01-02,1900-01-04,HABIL,VERANO,406,444,480,480,298,370,128
2,2019-01-03,1900-01-05,HABIL,VERANO,406,444,480,480,298,370,128
3,2019-01-04,1900-01-06,HABIL,VERANO,406,444,480,480,298,370,128
4,2019-01-05,1900-01-07,SABADO,VERANO,300,300,356,300,262,352,106
5,2019-01-06,1900-01-01,DOMINGO,VERANO,214,210,232,242,212,284,88
6,2019-01-07,1900-01-02,HABIL,VERANO,406,444,480,480,298,370,128
7,2019-01-08,1900-01-03,HABIL,VERANO,406,444,480,480,298,370,128
8,2019-01-09,1900-01-04,HABIL,VERANO,406,444,480,480,298,370,128
9,2019-01-10,1900-01-05,HABIL,VERANO,406,444,480,480,298,370,128

## Affichage pour rappel du type de données

In [4]:
df_origine.dtypes

Date         datetime64[ns]
Jour         datetime64[ns]
Type_Jour            object
Saison               object
Line A                int64
Line B                int64
Line C                int64
Line D                int64
Line E                int64
Line H                int64
Line P                int64
dtype: object

## Simulation des Interruptions sur 2 ans en utilisant les lois de probabilité

In [5]:
import scipy.stats as st

#Loi de probabilité de la ligne A
df_origine.insert(5,'A_Int_B100',0)

#Loi de probabilité de la ligne B
df_origine.insert(7,'B_Int_B100',0)

#Loi de probabilité de la ligne C
df_origine.insert(9,'C_Int_B100',0)

#Loi de probabilité de la ligne D
df_origine.insert(11,'D_Int_B100',0)

#Loi de probabilité de la ligne E
df_origine.insert(13,'E_Int_B100',0)

#Loi de probabilité de la ligne H
df_origine.insert(15,'H_Int_B100',0)

#Loi de probabilité de la ligne P
df_origine.insert(17,'P_Int_B100',st.exponweib.rvs(1602.857251358209, 5.926642827276137, -326.7706850267715, 246.21131802799837, size=731))

df_origine.head(10)

,Date,Jour,Type_Jour,Saison,Line A,A_Int_B100,Line B,B_Int_B100,Line C,C_Int_B100,Line D,D_Int_B100,Line E,E_Int_B100,Line H,H_Int_B100,Line P,P_Int_B100
0,2019-01-01,1900-01-03,DOMINGO,VERANO,214,0,210,0,232,0,242,0,212,0,284,0,88,19.186239
1,2019-01-02,1900-01-04,HABIL,VERANO,406,0,444,0,480,0,480,0,298,0,370,0,128,15.877447
2,2019-01-03,1900-01-05,HABIL,VERANO,406,0,444,0,480,0,480,0,298,0,370,0,128,23.599953
3,2019-01-04,1900-01-06,HABIL,VERANO,406,0,444,0,480,0,480,0,298,0,370,0,128,10.342191
4,2019-01-05,1900-01-07,SABADO,VERANO,300,0,300,0,356,0,300,0,262,0,352,0,106,15.289079
5,2019-01-06,1900-01-01,DOMINGO,VERANO,214,0,210,0,232,0,242,0,212,0,284,0,88,19.203734
6,2019-01-07,1900-01-02,HABIL,VERANO,406,0,444,0,480,0,480,0,298,0,370,0,128,7.894893
7,2019-01-08,1900-01-03,HABIL,VERANO,406,0,444,0,480,0,480,0,298,0,370,0,128,15.755969
8,2019-01-09,1900-01-04,HABIL,VERANO,406,0,444,0,480,0,480,0,298,0,370,0,128,31.891733
9,2019-01-10,1900-01-05,HABIL,VERANO,406,0,444,0,480,0,480,0,298,0,370,0,128,7.642989

## Application seulement sur les jours HABIL, 0 pour les autres

In [7]:
df_origine['P_Int_B100'] = np.where(df_origine['Type_Jour']!='HABIL',0,df_origine['P_Int_B100'])
df_origine.head(10)

,Date,Jour,Type_Jour,Saison,Line A,A_Int_B100,Line B,B_Int_B100,Line C,C_Int_B100,Line D,D_Int_B100,Line E,E_Int_B100,Line H,H_Int_B100,Line P,P_Int_B100
0,2019-01-01,1900-01-03,DOMINGO,VERANO,214,0,210,0,232,0,242,0,212,0,284,0,88,0.000000
1,2019-01-02,1900-01-04,HABIL,VERANO,406,0,444,0,480,0,480,0,298,0,370,0,128,15.877447
2,2019-01-03,1900-01-05,HABIL,VERANO,406,0,444,0,480,0,480,0,298,0,370,0,128,23.599953
3,2019-01-04,1900-01-06,HABIL,VERANO,406,0,444,0,480,0,480,0,298,0,370,0,128,10.342191
4,2019-01-05,1900-01-07,SABADO,VERANO,300,0,300,0,356,0,300,0,262,0,352,0,106,0.000000
5,2019-01-06,1900-01-01,DOMINGO,VERANO,214,0,210,0,232,0,242,0,212,0,284,0,88,0.000000
6,2019-01-07,1900-01-02,HABIL,VERANO,406,0,444,0,480,0,480,0,298,0,370,0,128,7.894893
7,2019-01-08,1900-01-03,HABIL,VERANO,406,0,444,0,480,0,480,0,298,0,370,0,128,15.755969
8,2019-01-09,1900-01-04,HABIL,VERANO,406,0,444,0,480,0,480,0,298,0,370,0,128,31.891733
9,2019-01-10,1900-01-05,HABIL,VERANO,406,0,444,0,480,0,480,0,298,0,370,0,128,7.642989

## Calcul des intervalles "Mauvais" pour chaque journée

In [8]:
#si le résultat obtenu pour une journée est inférieur à 1 alors on mets 0 sinon on garde a valeur
df_origine['A_Int_B100']=np.where(df_origine['A_Int_B100']<1,0,df_origine['A_Int_B100'])
df_origine['B_Int_B100']=np.where(df_origine['B_Int_B100']<0,0,df_origine['B_Int_B100'])
df_origine['C_Int_B100']=np.where(df_origine['C_Int_B100']<1,0,df_origine['C_Int_B100'])
df_origine['D_Int_B100']=np.where(df_origine['D_Int_B100']<1,0,df_origine['D_Int_B100'])
df_origine['E_Int_B100']=np.where(df_origine['E_Int_B100']<1,0,df_origine['E_Int_B100'])
df_origine['H_Int_B100']=np.where(df_origine['H_Int_B100']<1,0,df_origine['H_Int_B100'])
df_origine['P_Int_B100']=np.where(df_origine['P_Int_B100']<1,0,df_origine['P_Int_B100'])

#On multipli le résultat obtenu par le nombre de départ d'une journée
df_origine.insert(6,'A_Int',df_origine['A_Int_B100'] * df_origine['Line A'] / 100)
df_origine.insert(9,'B_Int',df_origine['B_Int_B100'] * df_origine['Line B'] / 100)
df_origine.insert(12,'C_Int',df_origine['C_Int_B100'] * df_origine['Line C'] / 100)
df_origine.insert(15,'D_Int',df_origine['D_Int_B100'] * df_origine['Line D'] / 100)
df_origine.insert(18,'E_Int',df_origine['E_Int_B100'] * df_origine['Line E'] / 100)
df_origine.insert(21,'H_Int',df_origine['H_Int_B100'] * df_origine['Line H'] / 100)
df_origine['P_Int']=df_origine['P_Int_B100'] * df_origine['Line P'] / 100

df_origine.head(10)

,Date,Jour,Type_Jour,Saison,Line A,A_Int_B100,A_Int,Line B,B_Int_B100,B_Int,...,D_Int,Line E,E_Int_B100,E_Int,Line H,H_Int_B100,H_Int,Line P,P_Int_B100,P_Int
0,2019-01-01,1900-01-03,DOMINGO,VERANO,214,0,0.0,210,0,0.0,...,0.0,212,0,0.0,284,0,0.0,88,0.000000,0.000000
1,2019-01-02,1900-01-04,HABIL,VERANO,406,0,0.0,444,0,0.0,...,0.0,298,0,0.0,370,0,0.0,128,15.877447,20.323133
2,2019-01-03,1900-01-05,HABIL,VERANO,406,0,0.0,444,0,0.0,...,0.0,298,0,0.0,370,0,0.0,128,23.599953,30.207940
3,2019-01-04,1900-01-06,HABIL,VERANO,406,0,0.0,444,0,0.0,...,0.0,298,0,0.0,370,0,0.0,128,10.342191,13.238005
4,2019-01-05,1900-01-07,SABADO,VERANO,300,0,0.0,300,0,0.0,...,0.0,262,0,0.0,352,0,0.0,106,0.000000,0.000000
5,2019-01-06,1900-01-01,DOMINGO,VERANO,214,0,0.0,210,0,0.0,...,0.0,212,0,0.0,284,0,0.0,88,0.000000,0.000000
6,2019-01-07,1900-01-02,HABIL,VERANO,406,0,0.0,444,0,0.0,...,0.0,298,0,0.0,370,0,0.0,128,7.894893,10.105463
7,2019-01-08,1900-01-03,HABIL,VERANO,406,0,0.0,444,0,0.0,...,0.0,298,0,0.0,370,0,0.0,128,15.755969,20.167641
8,2019-01-09,1900-01-04,HABIL,VERANO,406,0,0.0,444,0,0.0,...,0.0,298,0,0.0,370,0,0.0,128,31.891733,40.821418
9,2019-01-10,1900-01-05,HABIL,VERANO,406,0,0.0,444,0,0.0,...,0.0,298,0,0.0,370,0,0.0,128,7.642989,9.783025

## Somme des intervalles "Muauvais" sur les deux ans (2019 - 2020)

In [9]:
#On fait la somme des minutes d'interruptions obtenus
print(df_origine['A_Int'].sum(), df_origine['B_Int'].sum(), df_origine['C_Int'].sum(), df_origine['D_Int'].sum(), df_origine['E_Int'].sum(), df_origine['H_Int'].sum(), df_origine['P_Int'].sum())

0.0 0.0 0.0 0.0 0.0 0.0 13840.140158951377

## Présentation des résultats par mois

In [10]:
df_origine.set_index(df_origine['Date'],inplace=True)

df_month = pd.DataFrame()

df_month['Int_Line_A'] = df_origine['A_Int'].resample('M').sum()
df_month['Int_Line_B'] = df_origine['B_Int'].resample('M').sum()
df_month['Int_Line_C'] = df_origine['C_Int'].resample('M').sum()
df_month['Int_Line_D'] = df_origine['D_Int'].resample('M').sum()
df_month['Int_Line_E'] = df_origine['E_Int'].resample('M').sum()
df_month['Int_Line_H'] = df_origine['H_Int'].resample('M').sum()
df_month['Int_Line_P'] = df_origine['P_Int'].resample('M').sum().round(0)

df_month.to_csv('BA_Int_2019-2020_Month.csv', index=True, encoding='utf-8', sep=';', decimal=',')

df_month.head(24)

,Int_Line_A,Int_Line_B,Int_Line_C,Int_Line_D,Int_Line_E,Int_Line_H,Int_Line_P
Date,,,,,,,
2019-01-31,0.0,0.0,0.0,0.0,0.0,0.0,485.0
2019-02-28,0.0,0.0,0.0,0.0,0.0,0.0,583.0
2019-03-31,0.0,0.0,0.0,0.0,0.0,0.0,621.0
2019-04-30,0.0,0.0,0.0,0.0,0.0,0.0,506.0
2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,693.0
2019-06-30,0.0,0.0,0.0,0.0,0.0,0.0,495.0
2019-07-31,0.0,0.0,0.0,0.0,0.0,0.0,657.0
2019-08-31,0.0,0.0,0.0,0.0,0.0,0.0,639.0
2019-09-30,0.0,0.0,0.0,0.0,0.0,0.0,558.0
2019-10-31,0.0,0.0,0.0,0.0,0.0,0.0,608.0
2019-11-30,0.0,0.0,0.0,0.0,0.0,0.0,628.0
2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,606.0
2020-01-31,0.0,0.0,0.0,0.0,0.0,0.0,496.0
2020-02-29,0.0,0.0,0.0,0.0,0.0,0.0,579.0
2020-03-31,0.0,0.0,0.0,0.0,0.0,0.0,540.0
2020-04-30,0.0,0.0,0.0,0.0,0.0,0.0,567.0
2020-05-31,0.0,0.0,0.0,0.0,0.0,0.0,536.0
2020-06-30,0.0,0.0,0.0,0.0,0.0,0.0,719.0
2020-07-31,0.0,0.0,0.0,0.0,0.0,0.0,540.0
2020-08-31,0.0,0.0,0.0,0.0,0.0,0.0,537.0
2020-09-30,0.0,0.0,0.0,0.0,0.0,0.0,482.0
2020-10-31,0.0,0.0,0.0,0.0,0.0,0.0,659.0
2020-11-30,0.0,0.0,0.0,0.0,0.0,0.0,629.0
2020-12-31,0.0,0.0,0.0,0.0,0.0,0.0,477.0

## Présentation des résultats par années

In [11]:
df_year = pd.DataFrame()

df_year['Int_Line_A'] = df_origine['A_Int'].resample('A').sum()
df_year['Int_Line_B'] = df_origine['B_Int'].resample('A').sum()
df_year['Int_Line_C'] = df_origine['C_Int'].resample('A').sum()
df_year['Int_Line_D'] = df_origine['D_Int'].resample('A').sum()
df_year['Int_Line_E'] = df_origine['E_Int'].resample('A').sum()
df_year['Int_Line_H'] = df_origine['H_Int'].resample('A').sum()
df_year['Int_Line_P'] = df_origine['P_Int'].resample('A').sum()

df_year.to_csv('BA_Int_2019-2020_Year.csv', index=True, encoding='utf-8', sep=';', decimal=',')

df_year.head(2)

,Int_Line_A,Int_Line_B,Int_Line_C,Int_Line_D,Int_Line_E,Int_Line_H,Int_Line_P
Date,,,,,,,
2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,7080.761001
2020-12-31,0.0,0.0,0.0,0.0,0.0,0.0,6759.379158

## Calcul des pénalités

In [12]:
#Calcul de l'indice du KPI interval
df_origine['Indice_Interval_P'] = (df_origine['P_Int']) / (df_origine['Line P'])

#Calcul du KPI interval
UP_Interval = 5 * (df_origine['P_Int']) - (0.03 * (df_origine['Line P']))
df_origine['UP_Interval_P'] = np.where(df_origine['Indice_Interval_P']>0.03,UP_Interval,0)

df_origine.head(10)

,Date,Jour,Type_Jour,Saison,Line A,A_Int_B100,A_Int,Line B,B_Int_B100,B_Int,...,E_Int_B100,E_Int,Line H,H_Int_B100,H_Int,Line P,P_Int_B100,P_Int,Indice_Interval_P,UP_Interval_P
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,2019-01-01,1900-01-03,DOMINGO,VERANO,214,0,0.0,210,0,0.0,...,0,0.0,284,0,0.0,88,0.000000,0.000000,0.000000,0.000000
2019-01-02,2019-01-02,1900-01-04,HABIL,VERANO,406,0,0.0,444,0,0.0,...,0,0.0,370,0,0.0,128,15.877447,20.323133,0.158774,97.775663
2019-01-03,2019-01-03,1900-01-05,HABIL,VERANO,406,0,0.0,444,0,0.0,...,0,0.0,370,0,0.0,128,23.599953,30.207940,0.236000,147.199699
2019-01-04,2019-01-04,1900-01-06,HABIL,VERANO,406,0,0.0,444,0,0.0,...,0,0.0,370,0,0.0,128,10.342191,13.238005,0.103422,62.350023
2019-01-05,2019-01-05,1900-01-07,SABADO,VERANO,300,0,0.0,300,0,0.0,...,0,0.0,352,0,0.0,106,0.000000,0.000000,0.000000,0.000000
2019-01-06,2019-01-06,1900-01-01,DOMINGO,VERANO,214,0,0.0,210,0,0.0,...,0,0.0,284,0,0.0,88,0.000000,0.000000,0.000000,0.000000
2019-01-07,2019-01-07,1900-01-02,HABIL,VERANO,406,0,0.0,444,0,0.0,...,0,0.0,370,0,0.0,128,7.894893,10.105463,0.078949,46.687316
2019-01-08,2019-01-08,1900-01-03,HABIL,VERANO,406,0,0.0,444,0,0.0,...,0,0.0,370,0,0.0,128,15.755969,20.167641,0.157560,96.998203
2019-01-09,2019-01-09,1900-01-04,HABIL,VERANO,406,0,0.0,444,0,0.0,...,0,0.0,370,0,0.0,128,31.891733,40.821418,0.318917,200.267088
2019-01-10,2019-01-10,1900-01-05,HABIL,VERANO,406,0,0.0,444,0,0.0,...,0,0.0,370,0,0.0,128,7.642989,9.783025,0.076430,45.075127

In [13]:
df_month_UP = pd.DataFrame()

df_month_UP['UP_Int_Line_P'] = df_origine['UP_Interval_P'].resample('M').sum()

df_month_UP.head(24)

            UP_Int_Line_P
Date
2019-01-31    2341.204830
2019-02-28    2837.662114
2019-03-31    3018.796022
2019-04-30    2456.194991
2019-05-31    3380.677467
2019-06-30    2407.018310
2019-07-31    3201.237817
2019-08-31    3109.572034
2019-09-30    2712.529403
2019-10-31    2949.819139
2019-11-30    3060.584906
2019-12-31    2953.808528
2020-01-31    2380.961003
2020-02-29    2823.442640
2020-03-31    2616.675359
2020-04-30    2759.569575
2020-05-31    2605.200282
2020-06-30    3508.815638
2020-07-31    2619.661554
2020-08-31    2604.566779
2020-09-30    2337.886954
2020-10-31    3212.406985
2020-11-30    3068.474298
2020-12-31    2315.931836

In [14]:
df_year_UP = pd.DataFrame()

df_year_UP['UP_Int_Line_P'] = df_origine['UP_Interval_P'].resample('A').sum()

df_year_UP.head(24)

            UP_Int_Line_P
Date
2019-12-31   34429.105561
2020-12-31   32853.592902